#full-form-content {
	
	padding-top: 2em;
	padding-left: 2em;
	margin-left: 2em;
	width: calc(100vw - 3rem);
	@include lin-grad($full-form-top-green, $left-menu-green)
}

#full-form-preface {
	color: $off-white;
}

#submit-btn-container {
	button {

		color: $form-blue;
		border: none;
		padding: 1rem 3rem 1rem 3rem;
		background-color: $off-white;
		border-radius: 5px;
		text-align: center;
		font-size: 1rem;
		margin-bottom: 1rem;
		&:focus {
			outline: none;
		}
		&:hover {
			cursor: pointer;
		}
		&.disabled {
			cursor: not-allowed;
			color: $light-grey;
		}
	}
}