#full-form-content {
	
	padding-top: 3rem;
	padding-left: 3rem;
	margin-left: 3rem;
	width: calc(100vw - 6rem);
	@include lin-grad($full-form-top-green, $left-menu-green)
}

#full-form-preface {
	color: $off-white;
}