#initial-rating-container {
	background-color: $teal;
	padding: 2rem;
	text-align: center;
}

.banner {
	width: 100%;
}

.jumbo-header {
	width: 100%;
}

.jumbo {
	width: 60vw;
	display: block;
	margin: 0 auto;
	color: #606060;
}

.jumbo-content {
	background-color: $off-white;
	padding: 1rem;

	h4 {
		margin-top: 0;
	}
}

.jumbo-footer {
	width: 40vw;
	display: block;
	margin: 0 auto;
	margin-top: 1rem;


	h6 {
		color: #1b828e;
		margin: 0;
	}

	p {
		margin: 0;
		color: $off-white;
		font-size: 0.7rem;
	}
}

#disclaimer {
	padding: 0.5rem;

	h4 {
		color: #1b828e;
		margin: 0;
	}
}
