.scrollbar-container {
	.scroller-labels {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;
		color: $text-grey;
	}

	.scroller-wrapper {
		display: flex;
		justify-content: space-between;
		height: 1rem;

		background-color: $light-grey;
		padding: 0.4rem;
		border-radius: 20px;
		border: solid 5px $medium-grey;
	}

	.star-wrapper {
		display: inline-block;
		width: 20%;
		position: relative;
		
		&.left {
			border-radius: 10px 0px 0px 10px;
		}

		&.orange {
			background-color: $fill-orange;
		}

		&.tangerine {
			background-color: $fill-tangerine;
		}

		&.yellow {
			background-color: $fill-yellow;
		}

		&.mid-left-orange {
			@include half-colored($fill-orange, 50%, 51%)
		}

		&.middle-tangerine {
			@include half-colored($fill-tangerine, 50%, 51%)
		}

		&.mid-right-yellow {
			@include half-colored($fill-yellow, 50%, 51%)
		}

		&.right-yellow {
			@include half-colored($fill-yellow, 70%, 71%)
		}
			
		.star-img-parent {
			width: 25%;
			text-align: middle;
			position: absolute;
			padding: 0.5rem;
			border-radius: 100%;
			left: 0;
			right: 0;
			margin: auto;
			bottom: -12.5px;

			&:hover {
				cursor: pointer;
			}
			
			&.selected {
				background-color: $full-form-top-green;
				
				&.worst {
					background-color: $fill-red;
				}

				&.best {
					background-color: $left-menu-green;
				}

			}

			&.left {
				margin-left: 0;
			}

			&.mid-left {
				margin-left: 16.66%;
			}

			&.middle {
				margin: auto;
			}

			&.mid-right {
				margin-right: 16.66%;
			}

			&.right {
				margin-right: 0;
			}

			svg {
				width: 100%;
				vertical-align: middle;
			}
			
		}
	}


	
}


