.smiley {
	display: inline-block;
	width: 85px;
	margin: 0 0.5rem 0 0.5rem;

	img {
		width: 100%;
		vertical-align: middle;
	}

	&.smiley-background {
		background-color: $off-white;
		border-radius: 50%;
		border: 5px solid $off-white;
	}

	&.shadow {
		box-shadow: 0px 3px 5px 0px #888888;
	}

	&:hover {
		cursor: pointer; 
	}
	
	&.show-on-hover:hover {
		background-color: $off-white;
		border-radius: 50%;
		border: 5px solid $off-white;
	}

}