#smile-editor-container {
	
	background-color: $left-menu-green;
	width: calc(520px - 2em);
	padding: 1em;
	border-radius: 20px;

	@media screen and (max-width: $break-point) {
		max-width: calc(80vw - 2em);
	}

	.mistake-text {
		h4 {
			margin-top: 0;
		}
		color: $off-white;
		text-align: center;
	}

	.single-hover-container {
		display: inline-block;
		width: 20%;
		text-align: center;
	}

}