$off-white: #f7f7f7;
$teal: #2ce6ce;
$left-menu-green: #0d4d54;
$full-form-top-green: #166e78;

@mixin lin-grad($top, $bottom) {
	background: $top;
	background: -webkit-linear-gradient($top, $bottom);
  background: -o-linear-gradient($top, $bottom); 
  background: -moz-linear-gradient($top, $bottom);
  background: linear-gradient($top, $bottom);  
}

//