$teal: #2ce6ce;
$left-menu-green: #0d4d54;
$full-form-top-green: #166e78;
$form-blue: #1b828e;

$text-grey: #757575;
$medium-grey: #ededed;
$light-grey: #c3c3c3;
$off-white: #f7f7f7;
$pale-white: #ffffff;

$fill-red: #e95666;

$fill-orange: #f98371;
$fill-tangerine: #f7a062;
$fill-yellow: #ffdc00;

@mixin lin-grad($top, $bottom) {
	background: $top;
	background: -webkit-linear-gradient($top, $bottom);
  background: -o-linear-gradient($top, $bottom); 
  background: -moz-linear-gradient($top, $bottom);
  background: linear-gradient($top, $bottom);  
}


@mixin half-colored($color, $break1, $break2) {
	background: $color;
	background: -webkit-linear-gradient(left, $color, $color $break1, rgba(0,0,0,0) $break2, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left, $color, $color $break1, rgba(0,0,0,0) $break2, rgba(0,0,0,0) 100%); 
  background: -moz-linear-gradient(left, $color, $color $break1, rgba(0,0,0,0) $break2, rgba(0,0,0,0) 100%);
  background: linear-gradient(left, $color, $color $break1, rgba(0,0,0,0) $break2, rgba(0,0,0,0) 100%);
}